:root {
    --color-grey-500: rgb(77, 79, 98);
    --color-grey-400: rgb(106, 113, 120);
    --color-grey-shadow: rgb(211, 211, 211);
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(234, 84, 84);
    --color-cyan: rgb(68, 211, 210);
    --color-blue: rgb(84, 158, 242);
    --color-orange: rgb(252, 174, 74 );
    --font-poppins: "Poppins", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: (var(--color-white));
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

h1,
h2,
h3,
p {
    font-family: var(--font-poppins);
}

h2,
h1 {
    line-height: 140%;
    letter-spacing: 0.25px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-grey-500);
}

h1 {
    font-weight: 600;
}

header p {
    text-align: center;
    font-size: 0.95rem;
    font-weight: 300;
    margin-top: 1rem;
}

main {
    display: grid;
    gap: 2rem;
}

article:nth-child(1) {
    border-top: 0.2rem solid var(--color-cyan);
}

article:nth-child(2) {
    border-top: 3px solid var(--color-red);
}

article:nth-child(3) {
    border-top: 3px solid var(--color-orange);
}

article:nth-child(4) {
    border-top: 3px solid var(--color-blue);
}

article {
    padding: 1.5rem;
    box-shadow: 0px 5px 15px var(--color-grey-shadow);
    border-radius: 5px;
}