:root {
    --color-grey-500: rgb(77, 79, 98);
    --color-grey-400: rgb(106, 113, 120);
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(234, 84, 84);
    --color-cyan: rgb(68, 211, 210);
    --color-blue: rgb(84, 158, 242);
    --color-orange: rgb(252, 174, 74 );
    --font-poppins: "Poppins", "sans-serif";
}

body {
    background-color: (var(--color-white));
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

h1,
h2,
h3,
p {
    font-family: var(--font-poppins);
}

h2,
h1 {
    line-height: 140%;
    letter-spacing: 0.25px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-grey-500);
    margin: 0.1rem 0;
}

h1 {
    font-weight: 600;
}

header p {
    text-align: center;
    font-size: 0.95rem;
    font-weight: 300;
}