:root {
    --color-grey-500: rgb(77, 79, 98);
    --color-grey-400: rgb(106, 113, 120);
    --color-grey-shadow: rgb(211, 211, 211);
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(234, 84, 84);
    --color-cyan: rgb(68, 211, 210);
    --color-blue: rgb(84, 158, 242);
    --color-orange: rgb(252, 174, 74 );
    --font-poppins: "Poppins", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    min-height: 95vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 33.75rem;
}

h1,
h2,
h3,
p {
    font-family: var(--font-poppins);
    font-weight: 300;
}

h2,
h1 {
    line-height: 140%;
    letter-spacing: 0.25px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-grey-500);
}

h1 {
    font-weight: 600;
}

header p {
    text-align: center;
    font-size: 0.95rem;
    margin-top: 1rem;
}

main {
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(18.75rem, 21.9rem);
    justify-content: center;
}

article:nth-child(1) {
    border-top: 0.2rem solid var(--color-cyan);
}

article:nth-child(2) {
    border-top: 0.2rem solid var(--color-red);
}

article:nth-child(3) {
    border-top: 0.2rem solid var(--color-orange);
}

article:nth-child(4) {
    border-top: 0.2rem solid var(--color-blue);
}

article {
    padding: 1.5rem;
    box-shadow: 0px 5px 15px var(--color-grey-shadow);
    border-radius: 5px;
    max-width: 21.9rem;
    max-height: 15.65rem;
}

article p {
    font-size: 0.75rem;
    color: var(--color-grey-400);
    max-width: 15.65rem;
}

article h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-grey-500);
}

article figure {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}

@media screen and (min-width: 41.25rem) {
    main {
        grid-template-columns: repeat(2, minmax(18.75rem, 21.9rem));
        justify-items: center;
    }

    .teambuilder {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .calculator {
        grid-column: span 2;
    }
}

@media screen and (min-width: 75rem) {
    main {
        grid-template-columns: repeat(3, minmax(18.75rem, 21.9rem));
        align-items: center;
        justify-items: stretch;
    }

    .teambuilder {
        grid-column: 2 / 3;
    }

    .karma {
        grid-column: 2 / 3;
    }

    .supervisor {
        grid-row: span 2;
    }

    .calculator {
        grid-row: 1 / span 2;
    }
}